
:root {
    --brown: #8f7745!important;
    --white: #fff!important;
}

/*old brown: #b46b0e*/

body{
  font-family: "Alegreya", serif!important;
  font-style: normal;
  /* background:red; */
  color: #000;
}
h1, h2, h3 {color: var(--brown);}
h2 {margin-bottom: 25px!important;}
.h3, h3 {
    font-size: 1.5rem!important; 
}
.color-white {color: #fff}
.color-black {color: #000}
.color-brown {color: var(--brown)}

nav {
    background: #0000008f;
    padding: 10px 0!important;
    /* border-bottom: 1px solid #000!important; */
    /* box-shadow: 0px 0px 10px 0px rgb(14 19 24 / 94%); */
    background-color: rgba(77,77,77, 0.25);
    position: fixed!important;
    z-index: 1000;
    width: 100%;
    transition: background-color 0.4s ease-in-out;
}



nav .nav-link {font-size: 25px!important; color: var(--white); transition: color 0.4s ease-in-out;}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--brown);
}

nav.scrolled {background-color: #fff; opacity: 0.98;}
nav.scrolled a {color: var(--brown);}


.navbar-brand {margin-right: 32px}
.navbar-brand img {width: 80px;}

.banner {
    background: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20%;
    min-height: 600px;
}



.banner::after {
    content: "";
    position: absolute;
    height: 600px;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(0deg,rgba(0,0,0,.3),rgba(0,0,0,.5));
    /* mix-blend-mode: overlay; */
}


.banner h1 {
    margin-top: 30px;
}

.banner-header {
    padding-top: 200px;
}

.banner-header h1, h3{
    position: relative;
    z-index: 999;
    color: var(--white);
    text-align: center; 
}

.body-padding {padding: 40px 0}

.playfair-txt{
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.brown-gradient {background-image: linear-gradient(to right, rgba(180,107,14,0), rgba(180,107,14,1) 100%) }

.treatment-body {background: #fff;}

.treatment-img {
    max-width: 100%;
    margin-bottom: 25px;
}

.scrolled .navbar-brand img {
    filter: invert(1);
}