
body{
  font-family: "Alegreya", serif!important;
  font-style: normal;
  background:red;
  color: #000;
}

h2 {color: #b46b0e!important; margin-bottom: 25px!important;}
.h3, h3 {
    font-size: 1.5rem!important; color: #b46b0e!important; 
}

nav {
    /* background: red!important; */
    padding: 10px 0!important;
    /* border-bottom: 1px solid #000!important; */
    box-shadow: 0px 0px 10px 0px rgba(14, 19, 24);
}



nav .nav-link {font-size: 25px!important; color: #b46b0e}



.banner {
    background: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 350px;
}



.banner h1 {
    margin-top: 130px;
}


.body-padding {padding: 40px 0}



.playfair-txt{
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.color-white {color: #fff}
.color-black {color: #000}
.color-brown {color: #b46b0e}

.brown-gradient {background-image: linear-gradient(to right, rgba(180,107,14,0), rgba(180,107,14,1) 100%) }

.treatment-body {background: #fff;}

.treatment-img {
    max-width: 100%;
    margin-bottom: 25px;
}